
@{
    ViewBag.Title = "Welcome Clm World";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        .openhead{
            padding:6rem;
            overflow:auto;
        }
        .openhead-main{            
            background-color:cadetblue;
        }
        .star-light{            
            max-width:14rem;
        }

        a {
            text-decoration:none;
        }
        a:hover{
            color:cadetblue;
            text-decoration:none;
        }
    </style>
}

<header class="openhead-main">
    <div class="container openhead text-center">
        <img class="img-fluidd-block mx-auto" src="~/Public/images/Clmbooking Logo V2.png" alt="Image Intro" />
        <hr class="star-light">
        @Html.ActionLink("Start Book","Open_Book",null, new { @class="btn btn-primary" })
    </div>
</header>

@Html.Partial("~/Views/Shared/_CardsPartial.cshtml")