<div style="width:60%;position: absolute;left: 20%; padding:2.3rem;">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="http://clmworld.org/wp-content/uploads/2019/07/D5E3D3C4-BAA6-4281-819A-B72968C90190-768x545.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">IGC 2019</h5> 
                <p class="card-text">
                    Get set for 2019 INTERNATIONAL GATHERING OF CONQUERORS. It will be a season of refreshment from the Lord. 
                    For more info Visit <a href="http://clmworld.org/">Clm World</a>
                </p>
            </div>
            @*<div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>*@
        </div>
        @*<div class="card">
            <img class="card-img-top" src="http://clmworld.org/wp-content/uploads/2019/05/A56E573B-BA15-4E57-A9FE-F8602FA3588B.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>*@
        <div class="card">
            <img class="card-img-top" src="http://clmworld.org/wp-content/uploads/2019/05/39C08F6B-6D05-4841-BE08-2B3439D768F5-768x488.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Want to use your talent</h5>
                <p class="card-text">Ready to join the team to Work in God's Kingdom? Visit us and speak with the receptionist. </p>
            </div>
            @*<div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>*@
        </div>
        <div class="card">
            <img class="card-img-top" src="http://clmworld.org/wp-content/uploads/2018/09/IMG_2802-1-1024x683.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">CovenantTv</h5>
                <p class="card-text">Join us live at <a href="http://atechgroupuk.com/CovTV/CovTV.html">CovenantTv</a> </p>
            </div>
            @*<div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>*@
        </div>
    </div>
</div>
